.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: sticky;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    text-decoration: none;
    color: black;
    width: 35%;
}
.logo img{
    width: 30%;
    height: 50px;
}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list ul {
    display: flex;
}
.nav_list li{
    text-align: center;
    list-style: none;
}
.nav_list li a{
    color: black;
    text-decoration: none;
}
.nav_list li:hover{
    background-color: rgba(255, 218, 238, 0.637);
}
.login_btn{
    text-align: end;
}
.login_btn button{
    width: 60px;
    border: none;
    height: 20px;
    background-color: rgb(255, 218, 238);
    cursor: pointer;
}
.login_btn button:hover{
    background-color: rgba(247, 235, 237, 1);
}
