.footer{
    width: 100%;
    height: 70px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer a{
    width: 20%;
}
.footer a svg{
    color: white;
    width: 20%;
    height: 35px;
}
.footer svg:hover{
    color: rgb(255, 218, 238);
}
.footer p{
    text-align: center;
    color: gray;
}
.footer ul{
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li svg{
    width: 28px;
    height: 28px;
}