
.section{
    background-color: rgba(247, 235, 237, 1);
    width: 90%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 70%;
    margin: auto;
}